<div class="father">
  <div class="container mt-0">
    <article class="footerInit ps-5 pe-5 pt-5">
      <div class="row justify-content-between">
        <div class="col-6 col-md-2">
          <h5>COMPANY INFO</h5>
          <p class="mb-2">About Us</p>
          <p class="mb-2">Latest Posts</p>
          <p class="mb-2">Contact Us</p>
          <p class="mb-2">Shop</p>
        </div>

        <div class="col-6 col-md-2">
          <h5>HELP LINKS</h5>
          <p class="mb-2">Tracking</p>
          <p class="mb-2">Order Status</p>
          <p class="mb-2">Delivery</p>
          <p class="mb-2">Shipping Info</p>
        </div>

        <div class="col-6 col-md-2">
          <h5>USEFUL LINKS</h5>
          <p class="mb-2">Special Offers</p>
          <p class="mb-2">Gift Cards</p>
          <p class="mb-2">Advertising</p>
          <p class="mb-2">Terms of Use</p>
        </div>

        <div class="col-6 col-md-2">
          <h5>GET IN THE KNOW</h5>
          <input class="footerInput" type="text" placeholder="Enter email" />
          <span class="inputSpan"></span>
        </div>
      </div>
    </article>

    <article class="footerEnd justify-content-between ps-5 pe-5 pb-0">
      <div class="row">
        <p class="col-12">© 2024 NorthStar eCommerce</p>
        <p class="col-12 col-md-6">Privacy Policy Terms</p>
        <p class="col-12 col-md-6">Terms & Conditions</p>
      </div>

      <div class="row text-end justify-content-end">
        <div class="d-none d-md-block col-md-4">
          <i class="fab fa-cc-visa fa-2x"></i>
        </div>
        <div class="d-none d-md-block col-md-4">
          <i class="fab fa-cc-mastercard fa-2x"></i>
        </div>
        <div class="d-none d-md-block col-md-4">
          <i class="fab fa-cc-paypal fa-2x"></i>
        </div>
      </div>
    </article>
  </div>
</div>
