
.body{
    background-color: var(--lightBlue);
    font-family: 'Roboto';
    height: 100%;
}

.cartContain {
    background-color: var(--lightColor);
}

.sh {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    border: none;
}

.myBg {
    background-color: var(--darkBlue);
}

.btn {
    color: rgba(224, 225, 221);
    font-family: 'Roboto';
    font-weight: bold;
    border: 0;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgba(13, 27, 42, 0.2);
    background: linear-gradient(170deg, rgb(65, 90, 119) 0%, rgb(119, 141, 169) 100%);
    display: block;

}

.bg {
    background-color: green;
}


