<div id="carouselAutoplaying" class="hero carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="carousel-content">
                <img src="./../../../assets/images/2.banner.jpg" class="d-block w-100" alt="summer-fashion">
                <div class="carousel-text">
                    <h1>Urban VIBES for the modern soul!</h1>
                    <div class="button">
                        <h4><a [routerLink]="['/categories']" routerLinkActive="router-link-active" >SHOP NOW</a></h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <img src="./../../../assets/images/1.banner.jpg" class="d-block w-100" alt="summer-deals">
            <div class="carousel-text">
                <h1>Street CHIC, just a click away!</h1>
                <div class="button">
                    <h4><a href="#">SHOP NOW</a></h4>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <img src="./../../../assets/images/4.banner.jpg" class="d-block w-100"
                alt="summer-offers">
            <div class="carousel-text">
                <h1>Find your GROOVE, own your STYLE!</h1>
                <div class="button">
                    <h4><a href="#">SHOP NOW</a></h4>
                </div>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselAutoplaying" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselAutoplaying" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>