<article>
  <div class="position-absolute bottom-0 start-0">
  </div>
</article>
<div class="container">
  <div class="buttons">
    <h2 class="mb-4 mt-4">{{ selectedCategory.title }}</h2>
    @for (category of categories; track $index) {
    <button class="categorybutton" (click)="loadCategory(category.id)">
      {{ category.title }}
    </button>
    }
  </div>
  <div id="list-product">
    <div class="row category cards-wrapper mt-2 mb-4">
      @for (prod of arrayProducts; track prod.id){
      <div class="card col-12 col-sm-6 col-md-4 col-lg-3 p-3 **@if (prod == arrayProducts.Last()) { mx-auto }**">
        <card-product [product]="prod"></card-product>
      </div>
      }
    </div>
  </div>
</div>