<h2 class="mb-5 mt-5">Admin </h2>

<div class="mb-5">
    <div class="row">
        <div class="col">
            <a routerLink="products">
                <div class="col box box1">Products</div>
            </a>
        </div>
        <div class="col">
            <a routerLink="categories">
                <div class="col box box2">Categories</div>
            </a>
        </div>

        <div class="col">
            <a routerLink="orders">
                <div class="col box box3">Orders</div>
            </a>
        </div>
    </div>
</div>