<article class=" row justify-content-between mt-5">

    <div class="col-12 col-md-3 d-flex spacerSector ">
        <div>
            <i class="fa-solid fa-truck-fast"></i>
        </div>
        <div>
            <h5>FREE SHIPPING</h5>
            <p>Enjoy free shipping on all orders above $100</p>
        </div>
    </div>

    <div class="col-12 col-md-3 d-flex spacerSector ">
        <div>
            <i class="fa-solid fa-headset"></i>
        </div>

        <div>
            <h5>SUPPORT 24/7</h5>
            <p>Our support team is there to help you for queries</p>
        </div>
    </div>

    <div class="col-12 col-md-3 d-flex spacerSector ">
        <div>
            <i class="fa-solid fa-rotate-left"></i>
        </div>
        <div>
            <h5>30 DAYS RETURN</h5>
            <p>Simply return it within 30 days for an exchange</p>
        </div>
    </div>

    <div class="col-12 col-md-3 d-flex spacerSector ">
        <div>
            <i class="fa-solid fa-fingerprint"></i>
        </div>
        <div>
            <h5>100% PAYMENT SECURE</h5>
            <p>Our payments are secured with 256 bit encryption</p>
        </div>
    </div>

</article>