h1 {
  font-family: "Roboto";
}

.miForm {
  font-family: "Roboto";
  background-color: #e9eae7;
    margin: 0px 0px 50px 0px;
    padding: 30px;
    border-radius: 10px;

  & div {
    & label {
      font-weight: bold;
    }

    & input, select {
      max-width: 700px;
      border: none;
      border-radius: 0.125rem;
      font-weight: 300;
      box-shadow: 0rem 0rem 0.3125rem rgba(0, 0, 0, 0.5);
    }

    & textarea {
      max-width: 43.75rem;
      resize: vertical;
      max-height: 5.625rem;
      border: none;
      border-radius: 0.125rem;
      font-weight: 300;
      box-shadow: 0rem 0rem 0.3125rem rgba(0, 0, 0, 0.5);
    }
  }
}

.myId {
  background: linear-gradient(170deg,
      rgb(224, 225, 221) 0%,
      rgb(254, 250, 224) 100%);
  max-width: 43.75rem;
  border: none;
  border-radius: 0.125rem;
  font-weight: 300;
  box-shadow: 0rem 0rem 0.3125rem rgba(0, 0, 0, 0.5);
}

.btn {
  color: rgba(224, 225, 221);
  font-family: "Roboto";
  font-weight: bold;
  border: 0;
  border-radius: 0.3125rem;
  box-shadow: 0 0 0.625rem 0 rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 0);
  background: linear-gradient(170deg,
      rgb(65, 90, 119) 0%,
      rgb(119, 141, 169) 100%);

      
}

.body {
  background-image: url('https://img.sharemyimage.com/2024/04/23/vecteezy_asian-shopper-woman-in-back-view_6654497-2.webp');
  background-size: cover;
  margin-left: -1.25rem;
  

  
}